a {
	color: inherit;
}
nav {
	background: rgb(1, 7, 41);
	ul {
		display: flex;
		justify-content: space-around;
		list-style: none;
	}
	li {
		color: #fff;
	}

	a {
		display: inline-block;
		padding: 1em 2em;
		&:hover {
			background: rgb(30, 0, 114);
		}
	}
}
